/* fix shrinking due to reset.css */
main section {
  flex-shrink: 0;
}


/* Header styling */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  position: fixed;
  z-index: 1;
  width: 100%;

  padding-top: 8px;
  padding-bottom: 8px;

  background-color: white;
  border-bottom: 1px solid black;

  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

header img {
  margin-left: 20px;
}

header h1 {
  margin-left: 10px;

  color: MediumAquaMarine;
}

header nav {
  margin-left: auto;
  margin-right: 25px;
}

header nav ul {
  display: flex;
}

header nav ul li {
  display: inline-block;

  padding-left: 10px;
}

header nav ul li a {
  color: black;
}


/* Main styling */
main {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  position: relative;
  top: 122px;
}

main a {
  text-decoration: none;
}

main p {
  margin-top: 15px;
}

main h2 {
  font-size: 28px;
  font-weight: bold;
}

main section {
  display: flex;
}

article {
  font-family: Georgia, sans-serif;
  font-size: 17px;
  color: black;
}

#article_column_1 {
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  width: 630px;
}

#article_1_2 h2, #article_1_3 h2, #tree_image, #camera_image, #article_column_2 figure {
  margin-top: 30px;
}

#article_column_2, #article_column_3 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-left: 30px;
}

#article_column_2 {
  width: 300px;
}

#article_column_3 {
  width: 240px;
}

#article_column_3 aside h2 {
  font-size: 16px;
  font-weight: bold;

  text-align: center;
}


/* Third Column List */
#article_column_3 ul {
  margin-top: 30px;

  background-color: WhiteSmoke;
}

#article_column_3 ul li {
  font-family: Verdana, sans-serif;
  font-size: 12px;

  border-bottom: 1px solid black;

  padding: 10px 30px 10px 30px;
}

#article_column_3 ul li a {
  color: DimGray;
}


/* Image relevant styling */
#article_1_2, #article_1_3, #tree_image, #camera_image {
  width: 300px;
}

figure {
  display: flex;
  align-items: center;

  height: 300px;
}

figcaption {
  font-size: 30px;
  color: white;
  font-weight: bold;
  text-align: center;
}

#article_column_1 article figure {
  background-image: url("../images/booze.png");
}

#article_column_1 article figure figcaption {
  text-align: left;

  padding-left: 20px;
}

#article_column_1 article figure figcaption h2 {
  font-size: 40px;
}

#tree_image {
  background-image: url("../images/tree.png");
}

#camera_image {
  background-image: url("../images/camera.png");
}

#article_column_2 article figure {
  background-image: url("../images/cat.png");
}


/* Footer styling */
footer {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

  height: 300px;
  width: 100%;

  background-color: MediumAquaMarine;

  margin-top: 200px;
}

footer h2 {
  font-family: Georgia, sans-serif;
  font-size: 16px;
  font-weight: bold;

  color: White;

  border-right: 3px white solid;
  padding-right: 20px;
}

footer nav ul {
  display: flex;
}

footer nav ul li {
  display: inline-block;

  font-size: 12px;

  padding-left: 30px;
}

footer nav ul li a {
  color: black;
}

footer p {
  width: 100%;
  margin-top: 16px;

  font-family: Verdana, sans-serif;
  font-size: 12px;

  text-align: center;
}
